<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center py-3">
          <p class="mb-0">2023 © Modernize - Free Bootstrap Admin Dashboard</p>
        </div>
      </div>
</div>