<div class="container">
    <div class="row offset-2">
        <h1>Add a New Subject</h1>
        <div class="card col-8">
            <div class="card-body">
              <form action="/subject/create" method="POST">
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="ID" class="form-label">ID</label>
                    <input type="number" class="form-control" id="ID" name="id">
                  </div>
                  <div class="mb-3 col-6">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Name" name="name">
                  </div>
                  <div class="mb-3 col-6">
                    <label for="Last" class="form-label">Credits</label>
                    <input type="number" class="form-control" id="credits" name="credits">
                  </div>
                  <div class="mb-3 col-6">
                    <label for="teacherId" class="form-label">Select subject</label>
                    <select class="form-select" id="teacherId" name="teacherId" required>
                      <option value="">-- Choose subject --</option>
                      <% teachers.forEach(teacher => { %>
                        <option value="<%= teacher.id %>"><%= teacher.name %></option>
                      <% }) %>
                    </select>
                </div>
                <div class="mb-3 offset-5"> 
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
